.layout {
  height: 100vh;
}

.sidenav {
  width: 260px;

  .brand {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    font-weight: 600;
    font-size: 18px;
  }

  .active-link {
    background-color: var(--mat-sys-secondary-container);
  }
}

.contenido {
  padding: 24px;
}
