.cliente-puntos {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .resultado {
    max-width: 320px;

    .saldo {
      font-size: 32px;
      font-weight: 600;
      margin: 0;
    }
  }

  .sin-resultado {
    color: var(--mat-sys-error);
  }
}
